@keyframes text-inverse {
    from {
        opacity: 0;
        letter-spacing: -28px;
    }

    to {
        opacity: 1;
        letter-spacing: 6px;
    }
}


.text-top {
    display: flex;
    margin: 0 auto;
    width: 90px;
    align-items: flex-start;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    padding: 16px;
    height: 100%;
    color: rgb(94, 122, 125);
}

.text-top strong {
    opacity: 0;
    letter-spacing: -28px;
}

.text-top :nth-child(1) {
    animation: text-inverse 0.4s forwards;
}

.text-top :nth-child(2) {
    animation: text-inverse 0.4s forwards;
    animation-delay: 0.3s;
}


.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(197, 228, 231);
    margin-top: 60px;
    gap: 16px;
}

.geral-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 24px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 24px;
}

div .content-left {
    display: flex;
    gap: 24px;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 24px;
    width: 50%;
}

div .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
    background: rgb(0, 73, 77);
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    padding: 24px;
}

.content-right button {
    cursor: pointer;
    margin-top: 60px;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 700;
    background: rgb(38, 192, 171);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    transition: scale 0.4s ease-in-out;
}

.content-right button:active {
    background: hsl(185, 41%, 84%);
}

.content-right button:hover {
    scale: 103%;
}

@media all and (max-width: 900px) {

    .all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: rgb(197, 228, 231);
        gap: 48px;
        width: 100%;
        height: 100%;
    }

    .text-top {
        padding: 0;
        margin: 0;
    }

    .geral-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0 0;
        padding: 0;
    }

    div.content-left {
        width: 100%;
        gap: 0;
    }

    .content-left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content-right {
        display: flex;
        width: 100%;
        margin-bottom: 60px;
    }

    div.content-right {
        gap: 24px;
        width: 85%;
        padding: 24px;
        font-size: 12px;
    }

    .content-right button {
        margin-top: 4px;
    }
}